* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: background 0.2s linear;
}

.loader {
  position: absolute;
  top: 50%;
  /* left: 50%; */
}

.line {
  animation: expand 1s ease-in-out infinite;
  border-radius: 10px;
  display: inline-block;
  transform-origin: center center;
  margin: 3px;
  width: 1px;
  height: 25px;
}

.line:nth-child(1) {
  background: #27ae60;
}

.line:nth-child(2) {
  animation-delay: 180ms;
  background: #f1c40f;
}

.line:nth-child(3) {
  animation-delay: 360ms;
  background: #e67e22;
}

.line:nth-child(4) {
  animation-delay: 540ms;
  background: #2980b9;
}

@keyframes expand {
  0% {
    transform: scale(0.8);
  }
  25% {
    transform: scale(2);
  }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#myDiv {
  display: none;
  text-align: center;
}

.card {
  width: 375px;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.card:hover {
  margin-top: -10px;
}

.banner {
  height: 220px;
  width: 100%;
  padding-top: 150px;
  background-color: #fafafa;
  background-size: cover;
  background-position: center;
}

.card:first-of-type .banner {
  background-image: url("./images/mads-schmidt-rasmussen-6YmzwamGzCg-unsplash.jpg");
}

.avatar {
  height: 140px;
  width: 140px;
  margin: auto;
  background-size: cover;
  background-position: center;
  background-color: #f1f1f1;
  border-radius: 100%;
}

.card:nth-child(1) .avatar {
  background-image: url("./images/simbaCopy.jpg");
}

h1, a, i, p, #about {
  font-family: "Roboto", sans-serif;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

h1 {
  font-weight: 700;
  margin-top: 100px;
  margin-bottom: 5px;
  font-size: 20px;
  color: #212121;
}

a {
  display: block;
  padding: 5px 0px;
  font-size: 14px;
  color: #9e9e9e;
  text-decoration: none;
}

p {
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 12px;
  color: #212121;
}

#about {
  display: block;
  padding: 5px 65px;
  font-weight: 100;
  font-size: 12px;
  color: #a4a4a4;
}

a:hover {
  background-color: #fafafa;
  color: inherit;
}

ul {
  margin-top: 10px;
  padding: 15px 0px;
}

ul a {
  display: inline;
  margin-right: 15px;
}

ul a:last-of-type {
  margin-right: 0px;
}

ul a i:hover {
  transform: scale(2);
  color: rgb(6, 6, 6);
}

.software li {
  display: inline-block;
  padding: 5px 5px;
  font-size: 19px;
  color: rgb(169, 169, 169);
  text-decoration: none;
}

.button {
  display: inline-block;
  background-color: #fafafa;
  cursor: pointer;
  width: 100%;
}
#text {
  padding: 6px;
  text-align: center;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: white;
    height: 100%;
  }
}

.checkbox {
  opacity: 0;
	position: absolute;
}

.label {
  background-color: rgb(140, 140, 140);
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;

}

.ball {
  background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
  background-color: #ffffff;
}

.fa-moon{
  color: #E9FF08;
}

.fa-sun {
  color:#FFD305
}

.toggle {
  display: flex;
  float: right;
  padding-top: 5px;
  padding-right: 20px;
  margin: 0;
} 


/*              dark theeme                  */

/* body.dark {
  background: #292C35;
} */
.checkbox:checked + .label {
  background-color:rgb(111, 111, 111)
}

body.dark  .card  {
  background-color: #0D0E10;
  transition: background 0.2s linear;
} 

body.dark .card .banner {
  background-image: url("./images/sean-kowal-IbngTBpNuMA-unsplash.jpg");
  transition: background 0.2s ;
}

body.dark .social a i{
  color: #21A6A6
}

body.dark .software li{
  color: #21A6A6
}

body.dark h1{
  color: whitesmoke
}

body.dark p{
  color: whitesmoke
}

body.dark .button{
  background-color:  rgb(25, 26, 29);
}

body.dark ul a i:hover {
  opacity: 1;
  color: #30F2F2
}

body.dark  .button:hover,
a:hover {
  opacity: 0.7;
  color: hotpink;
  background-color: transparent;
  text-decoration: none;
  
}

